@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
    --sev-one-color: #f5006a;
    --sev-two-color: #FFBE0B;
    --sev-three-color: #9757EF;
    --sev-four-color: #27CE2D;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matrix {
    display: flex;
    flex-direction: column;
}

.column-headers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    padding: 0.5em 0;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.buttons > button {
    height: 10em;
    width: 10em;
    border-radius: 5px;
    background-color: inherit;
    border: 1px solid black;
}

.buttons > button:hover {
    box-shadow: 5px 5px 5px 0px #8fe2d7;
    cursor: cell;
}

.result {
    height: 4em;
    width: 15em;
    margin: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    font-weight: bold;
}

.row1:hover {
    background-color: var(--sev-one-color);
}

.row2:hover {
    background-color: var(--sev-two-color);
}

.row3:hover {
    background-color: var(--sev-three-color);
}

.row4:hover {
    background-color: var(--sev-four-color);
}

.footer {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.footer > a {
    text-decoration: none;
    font-size: larger;
    margin-left: 1em;
    color: gray;
}

.logo {
    width: 15em;
    opacity: .2;
}

/* .logo {
    width: 20%;
    position: absolute;
    left: 60%;
    opacity: .2;
} */