@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
    --sev-one-color: linear-gradient(#FB7474, #F93939);
    --sev-two-color: linear-gradient(#FBC037, #F0A905);
    --sev-three-color: linear-gradient(#479EEB, #1881DC);
    --sev-four-color: linear-gradient(#66CC79, #38A84D);
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 1em;
}

.matrix {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 0.2fr repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.buttons > span {
    text-align: center;
    font-weight: bold;
}

.buttons > button {
    height: 10em;
    width: 10em;
    border-radius: 5px;
    background-color: inherit;
    border: 1px solid black;
}

.buttons > button:hover {
    box-shadow: 5px 5px 5px 0px #c4c4c4;
    cursor: cell;
}

.result {
    height: 4em;
    width: 15em;
    margin: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    font-weight: bold;
    transition: all 1s ease;
}

.row1:hover {
    background-image: var(--sev-one-color);
    transition: all 0.3s ease-out;

}

.row2:hover {
    background-image: var(--sev-two-color);
    transition: all 0.3s ease-out;

}

.row3:hover {
    background-image: var(--sev-three-color);
    transition: all 0.3s ease-out;

}

.row4:hover {
    background-image: var(--sev-four-color);
    transition: all 0.3s ease-out;

}

.footer {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.footer > a {
    text-decoration: none;
    font-size: larger;
    margin-left: 1em;
    color: gray;
}

.logo {
    width: 15em;
    opacity: .2;
}