@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
    --sev-one-color: linear-gradient(#FB7474, #F93939);
    --sev-two-color: linear-gradient(#FBC037, #F0A905);
    --sev-three-color: linear-gradient(#479EEB, #1881DC);
    --sev-four-color: linear-gradient(#66CC79, #38A84D);

    --page-background: #212121;
    --white: #F5F5F5;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--page-background);
    color: var(--white);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0.7em;
}

.matrix {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 0.2fr repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.buttons > span {
    text-align: center;
    font-weight: bold;
    font-size: smaller;
}

.buttons > button {
    height: 8.7rem;
    width: 8.7rem;
    border-radius: 7px;
    background-color: inherit;
    border: 1px solid var(--white);
    padding: 0.5em;
    font-size: 80%;
    letter-spacing: 0.06rem;
}

.buttons > button:hover {
    cursor: cell;
    color: black;
}

.result {
    height: 4em;
    width: 15em;
    margin: 0.5em 0 1em 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-text {
    background-image: inherit;
    color: black;
}

.buttons > .selected {
    font-weight: bold;
    font-size: 84%;
    letter-spacing: normal;
    color: black;
    border: none;
}

.row1:hover {
    background-image: var(--sev-one-color);

}

.row2:hover {
    background-image: var(--sev-two-color);

}

.row3:hover {
    background-image: var(--sev-three-color);

}

.row4:hover {
    background-image: var(--sev-four-color);

}

.footer {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.footer > a {
    text-decoration: none;
    font-size: larger;
    margin-left: 1em;
    color: var(--white);
}

.logo {
    width: 15em;
    opacity: .2;
}